* {
  margin: 0%;
  padding: 0%;
}

/* Login / Sign-Up */

/* CSS for sign up / login form */

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #004878;
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif; /* Friendly font style */
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-form label {
  margin-bottom: 8px;
}

.auth-form input {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-form button {
  padding: 12px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: #2980b9;
}

.auth-form p {
  margin-top: 16px;
  text-align: center;
}

.auth-form a {
  color: #3498db;
  text-decoration: none;
}

.auth-form a:hover {
  text-decoration: underline;
}

/* Style the navbar */
.navbar {
  display: flex;
  gap: 32px;
  overflow: hidden;
  background-color: #003456; /* Blue background color */
  font-family: Arial, sans-serif; /* Friendly font style */
}

.icon-cloud {
  color: white;
}

/* Navbar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  font-weight: 700;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* On hover, the background color of the navbar links will change */
.navbar a:hover {
  background-color: white;
  color: #003456;
  transition: 0.3s;
}

/* CSS for map container */
#mapid {
  height: calc(
    100vh - 50px
  ); /* Adjust map height to fit screen, minus navbar height */
}
